body {
    width: 100%;
    font-family: arial;
    font-size: medium;
    background-color: blanchedalmond;
    font-family: 'Sacramento', cursive;
    color: #0000cc;
}

@import url('https://fonts.googleapis.com/css?family=Sacramento');
h1 {
    text-align: center;
    font-family: 'Sacramento', cursive;
    color: #0000cc;
}

h3 {
    text-align: center;
}

/*selfintro*/
.rogo{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-item {
    text-align: center;
    width: 125px;
    border: black;
    color: skyblue;
}

@import url('https://fonts.googleapis.com/css?family=Sacramento');
.page-link {
    font-family: 'Sacramento', cursive;
}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
.osirase{
    text-align: center;
    color: #0000ff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*Notfound*/
@import url('https://fonts.googleapis.com/css?family=Sacramento');
.ntj {
    text-align: center;
    font-family: 'Sacramento', cursive;
    color: black;
}

.top {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: black;
}
