body {
    width: auto;
    font-family: arial;
    font-size: large;
    font-family: 'Sacramento', cursive;
    background-image: url('SystemImages/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: #ff7b00;
}

h3 {
    text-align: center;
    color: #ff7b00;
}

h4 {
    text-align: center;
}

.rogo{
    width: 30%;
    display: block;
    margin: auto; 
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-item {
    color: #ff7b00;
}

@import url('https://fonts.googleapis.com/css?family=Sacramento');
.headder {
    text-align: center;
    background-color: #ff7b00;
    color: white;
    padding-top: 60px;
    padding-bottom: 80px;
    font-family: 'Sacramento', cursive;
}

.img {
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}


/*selfintro*/


.page-item {
    text-align: center;
    width: 25%;
    border: black;
    color: skyblue;
}

@import url('https://fonts.googleapis.com/css?family=Sacramento');
.page-link {
    font-family: 'Sacramento', cursive;
}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
.kodai{
    text-align: center;
    color: #ff7b00;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
.syoukai {
    text-align: center;
    width: 65%;
    margin: auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.hyou {
    width: 100px;
    text-align: center;
}

.avater {
    width: 80%;
    text-align: center;
    margin: auto;
}

.avadai {
    text-align: center;
    margin-top: 3%;
}

.yuuna_meow {
    width: 70%;
}

.yuuna {
    text-align: center;
    margin-bottom: 20px;
}


.twitter-bottun {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

iframe.twitter-timeline {
    width: 75% !important;
}

.twitter {
    text-align: center;
}

.tweet {
    width: 75%;
    text-align: center;
}

.sintyaku {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*Notfound*/
@import url('https://fonts.googleapis.com/css?family=Sacramento');
.ntj {
    text-align: center;
    font-family: 'Sacramento', cursive;
    color: black;
}

.top {
    text-align: center !important;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: black;
    
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width: 100%;
}

/*Blog_new*/
.honbun {
    border-style: double;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}